@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,100..900&family=Pixelify+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, black, blue);
    height: 100vh;
    color: aliceblue;
}

.calculadora {
    position: absolute;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao, #resultado {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff(31,31,31);
    border: none;
    border-radius: 5px;
    color: #000;
}

.botao:hover {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
}

#resultado {
    text-align: right;
    font-size: 25px;
    background-color: #fff;
    width: 215px;
    height: 50px;
    margin: 4px;
    color: #000;
}

.calc {
    font-family: "Pixelify Sans", serif;
    text-align: center;
}