@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,100..900&family=Pixelify+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color1: #000;
    --bg-color2: #fff;
    --bg-color3: #000;
    --bg-color4: #000;

    /*botoes*/
    --text-color1: #000;
    --text-color2: LightGrey;
    --fundo-color1: #fff;
    --fundo-color2: #8B008B;
    --hover-color: #C0C0C0;
}

.fundo {
    background-image: linear-gradient(45deg, #FF00FF, #4682B4, #9400D3);
    height: 100vh;
    color: aliceblue;
}

.calculadora {
    position: absolute;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao, #resultado {
    font-family: "Lexend Giga", serif;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff(31,31,31);
    border-radius: 5px;
    border: solid 1px rgb(88, 88, 88);
    box-shadow: 0px 0px 10px rgba(213, 214, 214, 0.5);
    color: var(--text-color1);
}

.botao:hover {
    backdrop-filter: blur(10px);
    background: rgba(225, 225, 225, 0.15);
}

#operadores {
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.5);
    border: solid 1px rgb(204, 0, 255);
    background-color: var(--fundo-color2);
}

#resultado {
    border: solid 2px rgb(0, 0, 0);
    text-align: right;
    font-size: 25px;
    background-color: var(--bg-color2);
    width: 215px;
    height: 50px;
    margin: 4px;
    color: #000;
}
